.contact-form {
    margin: 20px 0;
    text-align: center;
}

.form-input {
    width: 550px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgb(140, 51, 208);
    border-radius: 25px;    
    margin-top: 10px;
}
.form-input:focus{
    border: 2px solid rgb(140, 51, 208);

}

.form-textarea {
    width: 550px;
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    border: 1px solid rgb(140, 51, 208);
    margin-top: 10px;
    border-radius: 20px;
}
.form-textarea:focus{
    /* border: 2px solid rgb(114, 29, 178); */
    border: 2px solid rgb(132, 43, 199);

}

.send-form {
    width: 120px;
    height: 40px;
    background-image: linear-gradient( rgb(153, 36, 255), rgb(255, 76, 240));
    font-size: 20px;
    color: white;
    outline: none;
    border: 0;
    border-radius: 20px;
    margin: 10px 0;
    transition: 0.3s ease-in;
}
.send-form:hover{
    width: 150px;
}

.feedback{
    max-width: 550px;
    background-color: rgb(196, 255, 196);
    border-radius: 25px;
    padding: 5px 0;
}

@media screen and (max-width: 620px) {
    .form-input {
        width: 350px;
        height: 35px;
        border-radius: 20px;
    }

    .form-textarea {
        width: 350px;
        border-radius: 20px;
    }

    .send-form {
        height: 35px;
    }
}