/* .update-pass{
    position: relative;
    z-index: 1;
} */
.main-container{
    background-image: linear-gradient(rgb(174, 255, 173), rgb(255, 255, 255));
    height: 100vh;
    margin-top: 0;
    position: relative;
}
.icon1{
    position: absolute;
    top: 15px;
    left: 15%;
    opacity: 0.3;
    width: 150px;
}
.icon2{
    position: absolute;
    width: 180px;
    top: 200px;
    left: 40%;
    opacity: 0.2;
}
.image-container{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.profile-img{
    width: 150px;
    height: auto;
}
.visible-icon{
    /* position: absolute; */
    /* right: 22px;
    top: 0px; */
    font-size: 22px;
    cursor: pointer;
}
.update-icon{
    font-size: 20px;
    margin-bottom: 5px;
}
.profile-container{
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.141);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.198);
}
.inner-update{
    width: 300px;
    margin: auto;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 1px;
    /* background-color: rgba(255, 255, 255, 0.318); */
}
.profile-divider{
    height: 2px;
    width: 70%;
    margin: 25px auto;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.profile-divider::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 2px;
    width: 95%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}
.modal-open{
    position: relative;
}
.modal-open::after{
    content: 'Image resolution should be 150x150 px ';
    position: absolute;
    padding-left: 8px;
    padding-top: 4px;
    height: 80px;
    width: 150px;
    bottom: 20px;
    right: 20;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.387);
    background: rgba(255, 255, 255, 0.866);
    border-radius: 10px;
}
.info-icon{
    cursor: pointer;
}
.update-input{
    width: 250px;
    height: 35px;
    margin-bottom: 3px;
    outline: none;
    border: 1px solid rgb(39, 203, 2);
    /* border: 0; */
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.313);
}
.submit-btn{
    background-color: rgb(63, 175, 3);
    border: none;
    color: white;
    border-radius: 5px;
}
.submit-btn:hover{
    background-color: rgb(55, 138, 11);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.313);
}
.checkbox-div{
    accent-color: rgb(19, 152, 1);
}
.email-div{
    font-size: 18px;
    font-weight: 600;
}