.phone-name{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}
.detail-btn{
    border: none;
    background-color: rgb(0, 166, 3);
    color: white;
    border-radius: 5px;
    padding: 4px 6px;
    transition: 0.2s;
}
.detail-btn:hover{
    background-color: rgb(9, 138, 14);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.432)
}